# Ignore Python cache and bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore data and model files
pipeline_with_rexel/data/
pipeline_with_rexel/checkpoints/

# Ignore other large files
*.pt
*.pth
*.h5
*.ckpt
*.log
*.tmp
*.bak

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/
